<div class="comment">
    <div class="commenter">
        <%= comment.commenter %>
    </div>
    <div class="body">
        <%= comment.body %>
    </div>
    <div class="delete">
        <%= link_to 'delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you certain?' } %>
    </div>
</div>
