$font-stack:       Helvetica, sans-serif;

$primary-background: #45e;
$banner-background:  #12f;

$primary-text:       #111;
$secondary-text:     #222;

$size-large:         2em;
$size-medium:        1.5em;

$margin-medium:      0.5em;
$margin-small:       0.2em;

.delete {
}
